@import "tailwindcss";

/* Dark mode toggle via .dark */

@custom-variant dark
(&is(.dark, .dark *));

@theme {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-icon: var(--icon);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);


  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  --ring-color: var(--border);
  --border-color: var(--border);

  --shadow-card: 0 6px 24px rgba(0,0,0,0.06);

  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

:root{
  --primary: #f4b400;
  --primary-hover: #f4b300c7;   /* Golden Yellow */
  --primary-foreground: #010203;    /* readable on yellow */

  --bg: #f8f8f8;    /* Page background */
  --fg: #010203;    /* Primary text */
  --icon: #ffffff;
  --surface: #F9FAFB;   /* Card background */
  --muted: #6b7280;   /* secondary text */
  --border: #e5e7eb;    /* dividers */

  --success: #22c55e;
  --warning: #f97316;
  --error: #ef4444;
  --info: #3b82f6;

  font-family: 'Inter', sans-serif;
}

.dark {
  --primary: #f4b400;
  --primary-foreground: #111827;

  --bg: #111827;
  --fg: #f9fafb;
  --surface: #1f2937;
  --muted: #9ca3af;
  --border: #374151;

  --success: #4ade80;
  --warning: #fb923c;
  --error: #f87171;
  --info: #60a5fa;
}

@layer utilities{
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar-track{
    display: none
  }
}

@layer components{
  .sideicon{
    @apply stroke-background fill-foreground cursor-pointer;
  }
  .card {
    @apply bg-surface text-foreground rounded-2xl shadow-card border;
  }
  .focus-ring {
    @apply outline-none ring-2 ring-offset-2 ring-offset-background;
  }
  .sidebar{
    @apply bg-foreground;
  }
}